body {
	background: rgb(44, 43, 43);
}
#drum-machine {
	background: rgb(92, 20, 92);
	border: 3px solid rgb(253, 119, 213);
	width: 670px;
	margin: auto;
	margin-top: 20%;
	border-radius: 1%;
	color: rgb(235, 209, 209);
}
.key {
	flex-wrap: wrap;
	display: flex;
}
.drum-pad {
	background: rgb(231, 53, 136);
	color: rgb(216, 215, 215);
	margin: 10px;
	padding:12px;
	width: 80px;
	height: 80px;
	font-size: 30px;
	border-radius: 10%;
	text-align: center;
	cursor: pointer;
}
.man-key{
	margin: 10px 0px 0px 0px;
	font-size: 18px;
	font-family: bold;
	text-align: center;
}
.box {
	background: rgb(231, 53, 136);
	height: 20px;
	width: 20%;
	margin-left: 120px;
	cursor: pointer;
}
.x{
	background: gray;
	width: 50%;
	height: 20px;
	border: 2px solid rgb(231, 53, 136);
	float: left;
}
#display {
	height: 50px;
	width: 200px;
	margin: 20px 50px;
	text-align: center;
	font-size: 16px;
	padding-top: 14px;
	background: rgb(231, 53, 136);
	color: rgb(216, 215, 215);
}
#v {
	width: 65%;
	background: rgb(231, 53, 136);
	color: rgb(216, 215, 215);
	margin: auto
}